$drink: #FAAF25;
$circle: 50%;

.loaderBox {
  position: relative;
  display: block;

  .beer {
    .cup {
      position: absolute;
      left: 20%;
      bottom: 0;
      width: 60%;
      height: 75%;
      border: 5px solid;
      border-radius: 0 6px 15px 15px;

      .liquid {
        position: absolute;
        bottom: 5%;
        left: 5%;
        width: 90%;
        height: 70%;
        background: $drink;
        border-radius: 0 0 15px 15px;
      }

      .stripe {
        position: absolute;
        bottom: 10%;
        width: 10%;
        height: 60%;
        border-radius: 50px;

        &.st1 {
          left: 15%;
        }

        &.st2 {
          left: 45%;
        }

        &.st3 {
          right: 15%;
        }
      }
    }

    .cupHolder {
      position: absolute;
      top: 35%;
      right: 5%;
      width: 40%;
      height: 45%;
      border: 5px solid;
      border-radius: 0 2px 50% 0;
      -webkit-clip-path: polygon(55% 0, 100% 0, 100% 100%, 56% 100%);
      clip-path: polygon(55% 0, 100% 0, 100% 100%, 56% 100%);
    }

    .foamContainer {
      position: absolute;
      left: 15%;
      top: 0;
      width: 60%;
      height: 25%;
      transform: scale(1.1);

      .foam {
        position: absolute;
        border-radius: $circle;
        border: 4px solid;

        &.f1 {
          left: 14%;
          bottom: -2%;
          width: 32%;
          height: 70%;
          border-bottom-left-radius: 0;
          -webkit-clip-path: polygon(0 65%, 0 0, 75% 0, 75% 25%);
          clip-path: polygon(0 65%, 0 0, 75% 0, 75% 25%);
        }

        &.f2 {
          left: 35%;
          bottom: 0;
          width: 40%;
          height: 85%;
          -webkit-clip-path: polygon(0 45%, 0 0, 100% 0, 100% 45%);
          clip-path: polygon(0 45%, 0 0, 100% 0, 100% 45%);
        }

        &.f3 {
          right: 3%;
          bottom: -2%;
          width: 32%;
          height: 70%;
          border-bottom-left-radius: 0;
          -webkit-clip-path: polygon(0 65%, 0 0, 75% 0, 75% 25%);
          clip-path: polygon(0 65%, 0 0, 75% 0, 75% 25%);
          transform: scaleX(-1);
        }
      }

    }

    .bubble {
      position: absolute;
      top: 5%;
      width: 8%;
      height: 8%;
      border-radius: $circle;
      transition: all 0.5s;

      &.b1 {
        right: 30%;
        animation: bubbling 1.5s infinite linear;
      }

      &.b2 {
        left: 30%;
        animation: bubbling 1s infinite linear;
        width: 10%;
        height: 10%;
      }

      &.b3 {
        left: 45%;
        animation: bubbling 2s infinite linear;
      }
    }
  }
}

@keyframes bubbling {
  0% {
    transform: scale(1.5) tanslateY(0);
  }

  100% {
    transform: scale(0) translate(0, -150px)
  }
}